.orders {
    display: flex;
    justify-content: center;

    .ordersContainer {
        width: 1400px;
        padding: 5rem 0;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        table {
            width: 100%;

            tr {
                height: 5rem;

                th {
                    text-align: left;
                }

                td {

                    .orderImg {
                        width: 5rem;
                        height: 2.5rem;
                        object-fit: cover;
                    }

                    .messageImg {
                        width: 2rem;
                        cursor: pointer;
                    }
                }

                &:nth-child(even) {
                    background-color: #219b620f;
                }
            }

        }

        .no_order_text {
            font-size: 2.5rem;
            margin-top: 2rem;
            text-align: center;
            color: #1bdf73;
            width: 100%;
            font-weight: 800;
        }
    }
}