* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a,
.link {
    text-decoration: none;
    color: inherit;
}

.app {
    max-width: 100vw;
}

@mixin mobile {
    @media (max-width: 990px) {
        @content;
    }
}