.trustedBy {
    background-color: #fafafa;
    height: 10rem;
    display: flex;
    justify-content: center;

    .trustedByContainer {
        width: 76rem;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
        color: #d3d3d3;
        font-weight: 500;
        flex-wrap: wrap;

        img {
            height: 5rem;
            object-fit: contain;
        }
    }
}