@import "../../App.scss";

.featuredImage {
    background-color: #0d084d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;

    .featuredImageContainer {
        width: min(1400px, 80vw);
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 2rem;
        row-gap: 3rem;
        flex-wrap: wrap;

        .featuredImageLeft {
            flex: 2.5;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding-left: 2rem;
            max-width: 70vw;
            margin: 0 auto;

            h2,h3 {
                font-weight: 500;
                margin-bottom: 1rem;
            }

            h3{
                font-size: 2.45rem;
                max-width: 43rem;
            }

            .featuredImageLogoContainer {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-weight: 300;
                font-size: 1.4rem;

                img {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }

            p {
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 2.8rem;
                letter-spacing: 1px;
                margin-bottom: 2rem;
            }

            button{
                background-color: #1dbf73;
                color: #fff;
                border: none;
                padding: 1rem 2rem;
                border-radius: 0.5rem;
                font-size: 1.6rem;
                cursor: pointer;
                margin-top: 2rem;
                width: max-content;

                @include mobile{
                    width: auto;
                    font-size: 1.4rem;
                }
            }

        }

        .featuredImageRight {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: min(720px, 80vw);
            }
        }

    }
}