@import "../../App.scss";

.orders {
    display: flex;
    justify-content: center;

    .ordersContainer {
        width: 1400px;
        padding: 5rem 0;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mobile {
                display: block;
                text-align: center;
            }
        }

        table {
            width: 100%;
            padding: 1rem 1rem 0;

            tr {
                height: 5rem;

                th {
                    text-align: left;
                }

                td {

                    .orderImg {
                        width: 5rem;
                        height: 2.5rem;
                        object-fit: cover;
                    }

                    .messageImg {
                        width: 2rem;
                        cursor: pointer;
                    }
                }

                &:nth-child(even) {
                    background-color: #219b620f;
                }
            }
        }
    }
}