@import "../../App.scss";

.featuredVideo {
    background-color: #f1fdf7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0;

    .featuredVideoContainer {
        width: 1400px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10rem;

        @include mobile {
            flex-direction: column;
        }

        .featuredVideoLeft {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @include mobile {
                width: 75vw;
            }

            h2 {
                font-weight: 500;
                margin-bottom: 1rem;

                @include mobile {
                    text-align: center;
                    text-transform: capitalize;
                }
            }

            .featuredVideoLogoContainer {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-weight: 500;
                font-size: 1.8rem;
                color: #808080;

                img {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }

            p {
                font-size: 1.8rem;
                font-weight: 300;
                color: #808080;
                line-height: 2.8rem;
                letter-spacing: 1px;
            }


        }

        .featuredVideoRight {
            flex: 3;
            display: flex;
            justify-content: center;
            align-items: center;

            video {
                width: 65rem;

                @include mobile {
                    width: 75vw;
                }
            }
        }

    }
}